{% extends "core/base.html" %}
{% load static %}

{% block title %}Secretaria{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/secretaria.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout/textos.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    <h2 class="txt_principal">Secretaría</h2>
    <div class="ins p_block">
        <h3>Función</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet proin ut vitae, felis. Mauris aliquet faucibus iaculis dui vitae ullamcorper ac enim mi pharetra amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet proin ut vitae, felis. Mauris aliquet faucibus iaculis dui vitae ullamcorper ac enim mi pharetra amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet proin ut vitae, felis. Mauris aliquet faucibus iaculis dui vitae ullamcorper ac enim mi pharetra amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet proin ut vitae, felis. Mauris aliquet faucibus iaculis dui vitae ullamcorper ac enim mi pharetra amet.</p>
    </div>
    
    <div class="circle-container">
        <div class="circle circle_1">
            <img src="{% static 'img/secretaria/1.png' %}" alt="">
        </div>
        <div class="circle circle_2">
            <h4>Coordinación de la Comunicación</h4>
            <p>Gestiona la comunicación interna mediante circulares, avisos y el portal web para mantener informada a la comunidad escolar.</p>
        </div>
        <div class="circle circle_3">
            <img src="{% static 'img/secretaria/2.png' %}" alt="">
        </div>
        <div class="circle circle_4">
            <h4>Gestión Administrativa y Documental</h4>
            <p>Organiza y archiva documentación de estudiantes, docentes y personal, incluyendo expedientes, inscripciones y certificados.</p>
        </div>
        <div class="circle circle_5">
            <img src="{% static 'img/secretaria/3.png' %}" alt="">
        </div>
        <div class="circle circle_6">
            <h4>Atención al Usuario</h4>
            <p>Proporciona asistencia e información, resolviendo consultas y facilitando el acceso a recursos y servicios escolares.</p>
        </div>
    </div>
    
    <div class="forms p_block">
        <h3>Formularios</h3>
        <div class="file">
            <i class="fa-regular fa-file"></i>
            <p class="name">CalendarioEscolar2024.pdf</p>
            <p class="weight">1.60 MB</p>
        </div>
    </div>
    
    <div class="ddjj p_block">
        <h3>DDJJ</h3>
        <div class="file">
            <i class="fa-regular fa-file"></i>
            <p class="name">CalendarioEscolar2024.pdf</p>
            <p class="weight">1.60 MB</p>
        </div>
    </div>
</div>
{% endblock content %}
